@model EstatePortal.Models.User

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal Nieruchomściowy</title>
    <link rel="stylesheet" href="~/css/HomePage.css" />
    <link rel="stylesheet" href="~/css/font/css/fontello.css" />
</head>

<body>
    <div id="container">
        <div id="tlo">
            <header>
                <a href="#" class="logo">Logo</a>
                <ul class="navlist">
                    <li><a href="@Url.Action("Index", "Home")" class="active">Home</a></li>
                    <li><a href="@Url.Action("Privacy", "Home")">Privacy</a></li>
                    <li><a href="@Url.Action("MyAnnouncements", "Announcement")">Moje ogłoszenia</a></li>
                    @if (ViewBag.UserRole == EstatePortal.Models.UserRole.Administrator)
                    {
                        <li><a href="@Url.Action("AdminPanel", "Account")">AdminPanel</a></li>
                    }
                    @if (ViewBag.UserRole == EstatePortal.Models.UserRole.Moderator)
                    {
                        <li><a href="@Url.Action("AdminPanel", "Account")">AdminPanel</a></li>
                    }
                </ul>
                <div id="rightNavlist">
                    <div id="mojeKonto"><a href="@Url.Action("Login", "Home")"><i class="icon-user"></i>Moje konto</a></div>
                    <div id="mojeKonto"><a href="@Url.Action("Register", "Home")">Zarejestruj się</a></div>
                    <div id="WstawOgloszenie"><a href="@Url.Action("AddAnnouncement", "Announcement")">Dodaj ogłoszenie</a></div>
                </div>
            </header>

            <div id="welcomeText">
                @if (ViewBag.UserStatus == EstatePortal.Models.UserStatus.Blocked)
                {
                    <h1 style="color: red; text-align: center;">Twoje konto jest zablokowane</h1>
                }
                else if (ViewBag.UserStatus == EstatePortal.Models.UserStatus.Inactive)
                {
                    <h1 style="color: orange; text-align: center;">Twoje konto jest nieaktywne</h1>
                }
                else if (ViewBag.UserStatus == EstatePortal.Models.UserStatus.Active)
                {
                    <h1 id="typingText"></h1>
                }
                else
                {
                    <h1 id="typingText"></h1>
                }
            </div>

            <div class="search-container">
                <div class="tabs">
                    <button id="searchTab" class="tab active">Szukaj</button>
                    <button id="developerTab" class="tab">Oferty deweloperów</button>
                </div>

                <form method="GET" action="@Url.Action("SearchResults", "Home")" id="searchForm">
                    <div id="search-section" class="content-section active">
                        <div class="form-row">
                            <div class="dropdown">
                                <button type="button" class="dropdown-button">Mieszkania</button>
                                <ul class="dropdown-menu">
                                    <li>Mieszkania</li>
                                    <li>Kawalerki</li>
                                    <li>Domy</li>
                                    <li>Inwestycje</li>
                                    <li>Pokoje</li>
                                    <li>Działki</li>
                                    <li>Lokale użytkowe</li>
                                    <li>Hale i magazyny</li>
                                    <li>Garaże</li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="dropdown-button">Sprzedaż</button>
                                <ul class="dropdown-menu">
                                    <li>Sprzedaż</li>
                                    <li>Wynajem</li>
                                </ul>
                            </div>
                            <input type="text" name="location" class="input-text" placeholder="Wpisz lokalizację">
                            <div class="dropdown">
                                <button type="button" class="dropdown-button">+ 0km</button>
                                <ul class="dropdown-menu">
                                    <li>+ 5km</li>
                                    <li>+ 10km</li>
                                    <li>+ 15km</li>
                                    <li>+ 20km</li>
                                    <li>+ 30km</li>
                                    <li>+ 40km</li>
                                    <li>+ 50km</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="price">
                                <span>Cena</span>
                                <input type="text" name="priceMin" placeholder="od" class="input-price"> zł
                                <input type="text" name="priceMax" placeholder="do" class="input-price"> zł
                            </div>
                            <div class="surface">
                                <span>Powierzchnia</span>
                                <input type="text" name="surfaceMin" placeholder="od" class="input-surface"> m²
                                <input type="text" name="surfaceMax" placeholder="do" class="input-surface"> m²
                            </div>
                            <button type="submit" class="search-button">Wyszukaj</button>
                        </div>
                    </div>
                </form>

                <form method="GET" action="@Url.Action("SearchResults", "Home")" id="developerForm">
                    <div id="developer-section" class="content-section">
                        <div class="form-row">
                            <div class="dropdown">
                                <button type="button" class="dropdown-button">Inwestycje</button>
                                <ul class="dropdown-menu">
                                    <li>Mieszkania</li>
                                    <li>Kawalerki</li>
                                    <li>Domy</li>
                                    <li>Inwestycje</li>
                                    <li>Pokoje</li>
                                    <li>Działki</li>
                                    <li>Lokale użytkowe</li>
                                    <li>Hale i magazyny</li>
                                    <li>Garaże</li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="dropdown-button">Dowolny</button>
                                <ul class="dropdown-menu">
                                    <li>Mieszkania</li>
                                    <li>Domy</li>
                                    <li>Lokale użytkowe</li>
                                </ul>
                            </div>
                            <input type="text" name="location" class="input-text" placeholder="Wpisz lokalizację">
                            <div class="dropdown">
                                <button type="button" class="dropdown-button">+ 0km</button>
                                <ul class="dropdown-menu">
                                    <li>+ 5km</li>
                                    <li>+ 10km</li>
                                    <li>+ 15km</li>
                                    <li>+ 20km</li>
                                    <li>+ 30km</li>
                                    <li>+ 40km</li>
                                    <li>+ 50km</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="price">
                                <span>Cena</span>
                                <input type="text" name="priceMin" placeholder="od" class="input-price"> zł
                                <input type="text" name="priceMax" placeholder="do" class="input-price"> zł
                            </div>
                            <div class="surface">
                                <span>Powierzchnia</span>
                                <input type="text" name="surfaceMin" placeholder="od" class="input-surface"> m²
                                <input type="text" name="surfaceMax" placeholder="do" class="input-surface"> m²
                            </div>
                            <button type="submit" class="search-button">Wyszukaj</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div id="drugieTlo">
            <div id="searchContent" class="content-section active">
                <div class="promowane-ogloszenia">
                    <h2 id="promowaneOgloszenia">Promowane ogłoszenia <a href="#">Zobacz Wszystkie</a></h2>
                    <div class="arrow-left"><i class="icon-left-open"></i></div>
                    <div class="ogloszenia-container">
                    </div>
                    <div class="arrow-right"><i class="icon-right-open"></i></div>
                </div>

                <div class="rodzaje-nieruchomosci">
                    <h2>Rodzaje nieruchomości</h2>
                    <div class="rodzaje-container">
                        <button id="sell" class="rodzaj-tab active">Na sprzedaż</button>
                        <button id="rent" class="rodzaj-tab">Na wynajem</button>
                    </div>
                    <div class="nieruchomosci-grid" id="sell-grid">
                        <div class="nieruchomosc">
                            <img src="~/img/livingroom.jpg" alt="Mieszkanie">
                            <p>Mieszkania</p>
                        </div>
                        <div class="nieruchomosc">
                            <img src="~/img/House.jpg" alt="Dom">
                            <p>Domy</p>
                        </div>
                        <div class="nieruchomosc">
                            <img src="~/img/plots.jpg" alt="Działki">
                            <p>Działki</p>
                        </div>
                        <div class="nieruchomosc">
                            <img src="~/img/commercial.jpg" alt="Lokale użytkowe">
                            <p>Lokale użytkowe</p>
                        </div>
                    </div>
                    <div class="nieruchomosci-grid" id="rent-grid" style="display: none;">
                        <div class="nieruchomosc">
                            <img src="~/img/kawalerki.jpg" alt="Kawalerki">
                            <p>Kawalerki</p>
                        </div>
                        <div class="nieruchomosc">
                            <img src="~/img/apartment.jpg" alt="Apartamenty">
                            <p>Apartamenty</p>
                        </div>
                        <div class="nieruchomosc">
                            <img src="~/img/room.jpg" alt="Pokoje">
                            <p>Pokoje</p>
                        </div>
                        <div class="nieruchomosc">
                            <img src="~/img/warehousing.jpg" alt="Hale i magazyny">
                            <p>Hale i magazyny</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="developerContent" class="content-section">
                <div class="promowane-inwestyjce">
                    <h2 id="promowaneInwestycje">Promowane Inwestycje <a href="#">Zobacz Wszystkie</a></h2>
                    <div class="inwestycje-container">
                        <a href="#" style="text-decoration: none;">
                            <div class="inwestycje">
                                <div class="imgClass">
                                    <img src="~/img/Invest.jpg" alt="Ogłoszenie 2">
                                </div>
                                <div class="opis">
                                    <p class="miejsce">Gdańsk, Ujeścisko-Łostowice 22</p>
                                    <h2 class="cena">79 zł/m^2</h2>
                                    <p class="status">Status: w budowie</p>
                                    <p class="pokoje">liczba pokoi: od 1 do 3</p>
                                    <p class="nieruchomosci">nieruchomosci: 5</p>
                                </div>
                            </div>
                        </a>

                        <a href="#" style="text-decoration: none;">
                            <div class="inwestycje">
                                <div class="imgClass">
                                    <img src="~/img/Invest.jpg" alt="Ogłoszenie 2">
                                </div>
                                <div class="opis">
                                    <p class="miejsce">Gdańsk, Ujeścisko-Łostowice 22</p>
                                    <h2 class="cena">79 zł/m^2</h2>
                                    <p class="status">Status: w budowie</p>
                                    <p class="pokoje">liczba pokoi: od 1 do 3</p>
                                    <p class="nieruchomosci">nieruchomosci: 5</p>
                                </div>
                            </div>
                        </a>

                        <a href="#" style="text-decoration: none;">
                            <div class="inwestycje">
                                <div class="imgClass">
                                    <img src="~/img/Invest.jpg" alt="Ogłoszenie 2">
                                </div>
                                <div class="opis">
                                    <p class="miejsce">Gdańsk, Ujeścisko-Łostowice 22</p>
                                    <h2 class="cena">79 zł/m^2</h2>
                                    <p class="status">Status: w budowie</p>
                                    <p class="pokoje">liczba pokoi: od 1 do 3</p>
                                    <p class="nieruchomosci">nieruchomosci: 5</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" style="text-decoration: none;">
                            <div class="inwestycje">
                                <div class="imgClass">
                                    <img src="~/img/Invest.jpg" alt="Ogłoszenie 2">
                                </div>
                                <div class="opis">
                                    <p class="miejsce">Gdańsk, Ujeścisko-Łostowice 22</p>
                                    <h2 class="cena">79 zł/m^2</h2>
                                    <p class="status">Status: w budowie</p>
                                    <p class="pokoje">liczba pokoi: od 1 do 3</p>
                                    <p class="nieruchomosci">nieruchomosci: 5</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" style="text-decoration: none;">
                            <div class="inwestycje">
                                <div class="imgClass">
                                    <img src="~/img/Invest.jpg" alt="Ogłoszenie 2">
                                </div>
                                <div class="opis">
                                    <p class="miejsce">Gdańsk, Ujeścisko-Łostowice 22</p>
                                    <h2 class="cena">79 zł/m^2</h2>
                                    <p class="status">Status: w budowie</p>
                                    <p class="pokoje">liczba pokoi: od 1 do 3</p>
                                    <p class="nieruchomosci">nieruchomosci: 5</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" style="text-decoration: none;">
                            <div class="inwestycje">
                                <div class="imgClass">
                                    <img src="~/img/Invest.jpg" alt="Ogłoszenie 2">
                                </div>
                                <div class="opis">
                                    <p class="miejsce">Gdańsk, Ujeścisko-Łostowice 22</p>
                                    <h2 class="cena">79 zł/m^2</h2>
                                    <p class="status">Status: w budowie</p>
                                    <p class="pokoje">liczba pokoi: od 1 do 3</p>
                                    <p class="nieruchomosci">nieruchomosci: 5</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="cities-section">
                    <h2>Najpopularniejsze miasta</h2>
                    <p>Miasta z największą liczbą inwestycji deweloperskich</p>
                    <div class="miasta-container">
                        <div class="miasto">
                            <a href="#">
                                <img src="~/img/Warszawa.jpg" alt="Warszawa">
                                <p>Warszawa</p>
                            </a>
                        </div>

                        <div class="miasto">
                            <a href="#">
                                <img src="~/img/Wroclaw.jpg" alt="Wrocław">
                                <p>Wrocław</p>
                            </a>
                        </div>

                        <div class="miasto">
                            <a href="#">
                                <img src="~/img/Krakow.jpg" alt="Kraków">
                                <p>Kraków</p>
                            </a>
                        </div>

                        <div class="miasto">
                            <a href="#">
                                <img src="~/img/Poznan.jpg" alt="Poznań">
                                <p>Poznań</p>
                            </a>
                        </div>

                        <div class="miasto">
                            <a href="#">
                                <img src="~/img/Lodz.jpg" alt="Łódź">
                                <p>Łódź</p>
                            </a>
                        </div>

                        <div class="miasto">
                            <a href="#">
                                <img src="~/img/Katowice.jpg" alt="Katowice">
                                <p>Katowice</p>
                            </a>
                        </div>

                        <div class="miasto">
                            <a href="#">
                                <img src="~/img/Gdansk.jpg" alt="Gdańsk">
                                <p>Gdańsk</p>
                            </a>
                        </div>

                        <div class="miasto">
                            <a href="#">
                                <img src="~/img/Lublin.jpg" alt="Lublin">
                                <p>Lublin</p>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="show-all">Pokaż wszystkie</a>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <div class="footer-logo">
                    <a href="#">Logo Projektu</a>
                </div>
                <div class="footer-links">
                    <a href="#">O nas</a>
                    <a href="#">Polityka prywatności</a>
                    <a href="#">Kontakt</a>
                </div>
                <p class="footer-copy">© 2024 Projekt Inżynierski. Wszystkie prawa zastrzeżone.</p>
            </div>
        </footer>
    </div>

    <script src="~/js/HomePage.js"></script>
    <script type="module">
        import { nieruchomosci } from '/Dane/Nieruchomosci.js';

        document.addEventListener("DOMContentLoaded", function () {
            const container = document.querySelector(".ogloszenia-container");

            nieruchomosci.forEach(item => {
                const element = document.createElement("a");
                element.href = "#";
                element.style.textDecoration = "none";

                element.innerHTML = `
                                <div class="ogloszenie">
                                    <div class="imgClass">
                                        <img src="${item.img}" alt="${item.adres}">
                                    </div>
                                    <div class="opis">
                                        <h3 class="cena">${item.cena} PLN</h3>
                                        <p class="miejsce">${item.adres}</p>
                                    </div>
                                </div>
                            `;
                container.appendChild(element);
            });
        });
    </script>
</body>
</html>